

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}

.cabecalho {
    background-color:var(--branco);
    display: flex;  
    justify-content: space-between;
   align-items: center;
   position: relative;
}
.container
{
    display: flex;
    align-items: center;
    
}
.container__imagem {
    padding: 1em;

}

.lista-menu {
    display: none;
    position:absolute ;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    
   
}

.container__botao:checked~.lista-menu {
    display: block;
}
.lista-menu__titulo,
.lista-menu__item {
padding: 0.7em;
background-color: var(--branco-);
}

.lista-menu__titulo {
color: var(--laranja);
font-weight: 700;

}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
    
}

   