@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #e0e2e3;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-princpal:"Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-princpal);
    font-size: 16px;
    font-weight: 400;
}





 .topicos__lsta {
    display: flex;
 }