

:root {
    --cor-de-fundo: #e0e2e3;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-princpal:"Poppins";
}

.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}

.cabecalho {
    background-color:var(--branco);
    display: flex;  
    justify-content: space-between;
   align-items: center;
   position: relative;
}
.container
{
    display: flex;
    align-items: center;
    
}
.container__imagem {
    padding: 1em;

}

.lista-menu {
    display: none;
    position:absolute ;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    
   
}

.container__botao:checked~.lista-menu {
    display: block;
}
.lista-menu__titulo,
.lista-menu__item {
padding: 0.7em;
background-color: var(--branco-);
}

.lista-menu__titulo {
color: var(--laranja);
font-weight: 700;

}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}
@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo-negrito 
    {
        font-family: var(--fonte-princpal);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }
    .opcoes{
        display: flex;
        text-transform: uppercase;
    }

    .opcoes__item{
        padding: 0 1em;
        
    }

    .opcoes__link{
text-decoration: none;
color: black;

.container__imagen--transparente {
    display: none;
}

.cabecalho__menu--hamburger{
    display: none;
}
    }
}


   